<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    
    <title> Liste produits</title>
</head>

<body>

    <main id="app">

        <h1>
          Liste des produits
        </h1>

        <table>
            <thead>
                <tr>
                    <th>Nom produit</th>
                    <th>Prix produit</th>
                    <th>Quantité produit</th>
                    <th>Catégorie produit</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(prod, index) in inventory" :key="index" v-cloak>
                    <td>{{ prod.name }}</td>
                    <td>{{ prod.price }} €</td>
                    <td>{{ prod.quantity }}</td>
                    <td>{{ prod.category }}</td>
                    <td>
                        <button type="button" class="btn btn-primary actions" @click="openModal(index)">Modifier</button>
                        <button type="button" class="btn btn-danger actions" @click="deleteProduct(index)">
                            <i class="fas fa-trash"></i> Supprimer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="editModal" class="modal" v-if="isVisible" v-cloak>
            <div class="modal-content">
                <span class="close" @click="closeModal">X</span>
                <h2>Modifier le produit :</h2>

                <form>
                    <label for="editName">Nom produit:</label><br>
                    <input type="text" id="editName" v-model="tempTable.name"><br>

                    <label for="editPrice">Prix produit:</label><br>
                    <input type="number" id="editPrice" v-model="tempTable.price" min="0"><br>

                    <label for="editQuantity">Quantité produit:</label><br>
                    <input type="number" id="editQuantity" v-model="tempTable.quantity" min="0"><br>

                    <label for="editCategory">Catégorie produit:</label><br>
                    <select id="editCategory" v-model="tempTable.category">
                        <option value="Téléphone">Téléphone</option>
                        <option value="Écran">Écran</option>
                        <option value="Ordinateur portable">Ordinateur portable</option>
                    </select><br>

                    <br><br>
                    <input type="button" value="Enregistrer" class="btn btn-success" @click="editProduct()">
                </form>
            </div>
        </div>

        <section class="add-more">
            <p>Ajouter un produit</p>
            <form>

                <label for="name">Nom produit:</label><br>
                <input type="text" id="name" name="name" v-model="tempTable.name"><br>

                <label for="price">Prix produit:</label><br>
                <input type="number" id="price" name="price" min="0" v-model="tempTable.price"><br>

                <label for="quantity">Quantité produit:</label><br>
                <input type="number" id="quantity" name="quantity" min="0" v-model="tempTable.quantity"><br>

                <label for="category">Catégorie produit:</label><br>
                <select id="category" name="category" v-model="tempTable.category">
                    <option value="Téléphone">Téléphone</option>
                    <option value="Écran">Écran</option>
                    <option value="Ordinateur portable">Ordinateur portable</option>
                </select><br>

                <br><br>
                <input type="button" value="Ajouter" class="btn btn-success" @click="addProduct()">
            </form>
        </section>

    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>

</body>

</html>
